<h1>
    {{title}}
</h1>

<div>
    <input type="text" #newTodo />
    <select #priority>
        <option *ngFor="let priority of [1,2,3,4,5]">{{priority}}</option>
    </select>
    <select #deadline>
        <option *ngFor="let deadline of [1,2,3,4,5]">{{deadline}}</option>
    </select>
    <button (click)="addTodo(newTodo.value, priority.value, deadline.value); newTodo.value=''">Add</button>
</div>



<div class="list-container">
    <div class="row header">
        <span class="item">label</span>
        <span class="item">priority</span>
        <span class="item">deadline</span>
        <span class="item">done</span>
        <span class="item">actions</span>
    </div> <br>
    <div class="body">
        <div *ngFor="let todo of todos" class="row">
            <span class="item">{{todo.label}}</span>
            <span class="item">{{todo.priority}}</span>
            <span class="item">{{todo.deadline}}</span>
            <span class="item">
                <button class="donebtn" [ngClass]="{'clicked': todo.done}" (click)="togglePressed(todo)">done</button>
            </span>
            <span class="item">
                <button class="deletebtn" (click)="deleteTodo(todo)">delete</button>
            </span>
        </div>
    </div>
</div>

<router-outlet></router-outlet>