input {
    height: 40px;
    width: 215px;
}
button {
    height: 40px;
    width: 50px;
    background: brown;
    color: white;
}
.list-container{
    display: flex;
  flex-direction: column;
  
  .header {

    background-color: #bb2019;
     
    .item {
      
      color: #fff;
        
      &:not(:last-child) {
        border-right: 1px solid #fff;
      }
    }
  }

  .row{
    display: flex;
    justify-content: space-between;

    .item {
        flex: 1;
        text-align: center;

    }
  }
  .body{
      display: flex;
      flex-direction: column;
  }
}
