<h1>
    {{title}}
</h1>

<div>
    <input type="text" #newTodo />
    <select #option>
        <option *ngFor="let option of [1,2,3,4,5]">{{option}}</option>
    </select>
    <button (click)="addTodo(newTodo.value, option.value); newTodo.value=''">Add</button>
</div>


<div class="list-container">
    <div class="row header">
        <span class="item">label</span>
        <span class="item">priority</span>
        <span class="item">done</span>
        <span class="item">actions</span>
    </div> <br>
    <div class="body">
        <div *ngFor="let todo of todos" class="row">
            <span class="item">{{todo.label}}</span>
            <span class="item">{{todo.priority}}</span>
            <span class="item">{{todo.done ? '&#10003;' : '&#10005;'}}</span>
            <span class="item">
                <button (click)="deleteTodo(todo)">delete</button>
            </span>
        </div>
    </div>
</div>

<router-outlet></router-outlet>